div#call-buttons {
  display: flex;
  width: 300px;
  justify-content: space-between;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 20;
}

div.round-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid #ecf0f1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

div.round-bg:hover {
  border: 3px solid #78e08f;
  transform: scale(1.2);
}
div#bg-close-call:hover {
  border: 3px solid #e55039;
  transform: scale(1.1);
}

img.call-buttons {
  width: 2rem;
  height: 2rem;
}
