@import url('https://fonts.googleapis.com/css?family=Poppins:500,600');


#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 3px solid #ecf0f1;
}

h1 {
  color: #353b48;
  font-style: italic;
  font-size: 45px;
}

div#status {
  font-style: italic;
}

div#status-ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

div#status-ball.green-ball {
  background-color: green;
}

p#username {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size:16px;
  color: #353b48;
  margin-right: 20px;
}

img#avatar {
  width: 3rem;
  height: 3rem;
}